*{
    margin : 0;
    padding : 0;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    height: 18vh;
    width : 25vw;
    position: absolute;
    top: 50%;
    left : 50%;
    margin : -100px 0 0 -170px;
}

#btn{
    cursor : pointer;
    height : 5vh;
    width : 7vw;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 8px;
}

#btn:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px white;
}

#hexCode{
    text-align : center;
    font-weight: bolder;
}